---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlockStack from "../components/BlockStack.astro";
import SiteNav from "../components/SiteNav.astro";
import { hardcoreyoganidraPage } from "../data/hardcoreyoganidraPage.js";
import "../styles/global.css";
---

<BaseLayout
  title={hardcoreyoganidraPage.title}
  description={hardcoreyoganidraPage.description}
>
  <main class="site-main">
    <SiteNav />
    <div class="site-content" id="site-content">
      <article>
        <div class="work-header">
          <h1>{hardcoreyoganidraPage.heading.subtitle}</h1>
          <p>{hardcoreyoganidraPage.heading.title}</p>
        </div>
        <BlockStack blocks={hardcoreyoganidraPage.blocks} />
      </article>
    </div>
  </main>
</BaseLayout>
